<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}} - microblog</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    
    <form action="" method="post">
        <p>
	    <label for="username">Username</label>
	    <input type="text" name="username">
        </p>
	<p>
	    <label for="password">Password</label>
	    <input type="password" name="password">
    </p>
	<p>
	    <input type="submit">
    </p>
</form>
    
</body>
</html>
    
  </body>


<html>